.dropdownInput {
  height: 32px;
  background-color: #ffffff;
  border: 1px solid #b1b4bb;
  border-radius: 8px;
  padding: 0px 30px 0px 10px;
  position: relative;
  display: flex;
  align-items: center;
  color: #0b101a;
  font-size: 14px;
  cursor: pointer;
  white-space: nowrap;
}

.dropdownIcon {
  position: absolute;
  right: 8px;
  top: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.dropdownMenu {
  position: absolute;
  top: calc(100% + 5px);
  width: 100%;
  left: 0;
  background-color: #ffffff;
  box-shadow: 0px 8px 16px #36363633;
  border-radius: 8px;
  overflow: hidden;
  z-index: 10;
}

.dropdownMenuItem {
  height: 30px;
  color: #141f2d;
  font-size: 12px;
  display: flex;
  align-items: center;
  padding: 0px 10px;
}
.dropdownMenuItem:hover {
  background-color: #ebeef3;
}

.button {
  border-width: 2px;
  border-style: solid;
  font-size: 12px;
  font-weight: 600;
  border-radius: 8px;
  cursor: pointer;
  white-space: nowrap;
  height: 32px;
}

.approvalStatusTag {
  font-size: 12px;
  border-radius: 10px;
  width: fit-content;
  padding: 1px 10px;
  font-weight: 500;
}
