table {
  border-collapse: collapse;
}
.head {
  color: #222222;
  background-color: #eef0f4;
  font-size: 14x;
  font-weight: 600;
}
.head > th {
  height: 55px;
  border-left: 1px solid #ffffff;
  border-right: 1px solid #ffffff;
  padding: 0px 15px;
  white-space: nowrap;
}

.row {
  font-size: 12px;
  color: #222222;
  font-weight: 500;
}
.row > td {
  text-align: center;
  height: 35px;
  padding: 2px 8px;
}

.noRecordsDisplay {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100% - 55px);
  color: #a1a1a1;
  font-size: 14px;
}
